body {
  background-color: black;
}

.logo {
  height: 100px;
  margin-left: 50px;
}

.name-section {
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 25px 0;
}

.movies-list {
  display: flex;
  overflow: scroll;
  flex-wrap: nowrap;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.movies-list::-webkit-scrollbar {
  display: none;
}

.movies-list img {
  flex-shrink: 0;
  width: 220px;
  height: 123.86px;
}

.category {
  margin: 0 0 40px 50px;
}
